.box1 {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: chocolate;
}

.box1 h1 {
    align-items: center;
    text-align: center;
}