/* table */

/* batas sel pada tabel akan digabungkan sehingga tampilan tabel menjadi lebih rapi dan mudah dibaca */
table {
  border-collapse: collapse;
}


/* boeder-spacing */
/* jarak antar sel pada tabel akan diatur 5 px */
table {
    border-spacing: 5px;
}

/* background-color */
td {
    background-color: antiquewhite;
}

tr {
    background-color: gray;
}