/* list */

/* list-style-type */
/* pada list tidak berurutan (ul) menggunakan simbol kotak */
ul {
    list-style-type: square;
}

/* pada list berurutan (ol) menggunakan nomor desimal */
ol {
    list-style-type: decimal;
}


/* list-style-image */
/* hasilnya akan muncul icon disamping list */
ul {
    list-style-image: url("icon.png");
}

/* list-style-position */
/* hasilnya adalah jika kamu punya tulisan panjang maka dia akan mengikuti patokan simbol */
ul {
    list-style-position: inside;
}