/* nilainya default, element akan ditampilkan secara normal sesuai alur dokument(flow) tanpa bisa dipindahkan menggunakan top,left, dan sebagainya */
div {
  position: static;
}

/*  */
.box {
  position: relative;
  top: 20px;
  left: 10px;
}
