* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 11, 28);
  /* margin: 900px; */
}

.banner {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-desc {
  width: 50%;
  height: 300px;
  background-color: rgb(125, 179, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid white;
}

.banner-desc p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}